@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* 
fontcolor: #EEE0CB
backgroundofbutton: #BAA898
*/

* {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #000000;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.selectbox {
  color: #eee0cb;
  margin: 15px;
  padding: 5px;
  font-size: medium;
}

#category {
  color: #eee0cb;
  font-size: medium;
  cursor: pointer;
  border-radius: 10px;
  padding: 6px;
}

.card {
  background-color: #272626f9;
  width: 900px;
  height: 590px;
  border-radius: 6px;
  margin-left: 22%;
  box-shadow: 0 20px 30px rgba(183, 45, 237, 0.45);
}

.card img {
  width: 900px;
  height: 590px;
}

.fetch {
  color: #eee0cb;
  font-size: medium;
  cursor: pointer;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  margin-left: 15px;
}

.fetch:hover {
  transition: 0.4s;
  transform: translateY(-5px);
}

@media screen and (max-width: 500px) {
  .card {
    background-color: #272626f9;
    width: 347px;
    height: 526px;
    border-radius: 6px;
    margin-left: 3%;
    box-shadow: 0 20px 30px rgba(183, 45, 237, 0.45);
  }
}
